@model MSIT147thGraduationTopic.Models.ViewModels.BrandVM

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "編輯品牌資料";
}

<div class="container">
    <h1 class="title">編輯品牌資料</h1>

    <div class="bg-light rounded shadow p-5">
        <h4>輸入品牌資料</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="BrandId" />
                    <div class="form-group">
                        <label asp-for="BrandName" class="control-label"></label>
                        <input asp-for="BrandName" class="form-control" />
                        <span asp-validation-for="BrandName" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="儲存變更" class="btn btn-primary" />
                        @Html.ActionLink("取消", "Index", "Brands", null, new { @class = "btn btn-secondary" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>
}