@{
    ViewData["Title"] = "會員註冊";
}

<div class="text-center mb-4">
    <h1 class="fw-bold mt-4">會員註冊</h1>
</div>
<div class="row" style="--bs-gutter-x:0;">
    <div class="col-lg-8 offset-2">
        <form id="memberRegisterForm" name="memberRegisterForm" class="needs-validation"
              action="/ApiMember/CreateMember" method="POST" novalidate>
            <!-- MemberName input-->
            <div class="form mb-3">
                <label for="memberName" class="form-label fw-bold">姓名</label>
                <input class="form-control" id="memberName" name="MemberName" type="text" required />
                <div class="invalid-feedback">請輸入姓名</div>
            </div>
            <!-- Gender input-->
            <div class="form">
                <label>性別:</label><br>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" value="male" required>
                    <label class="form-check-label">男性</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" value="female" required>
                    <label class="form-check-label">女性</label>
                </div>
                @*<div class="invalid-feedback">
                    請選擇性別！
                </div>*@
            </div>
            <!-- NickName input-->
            <div class="form mb-3">
                <label for="nickname" class="form-label fw-bold">暱稱</label>
                <input class="form-control" id="nickName" name="NickName" type="text" />
            </div>
            <!-- Account input-->
            <div class="form mb-3">
                <label for="account" class="form-label fw-bold">帳號</label>
                <input class="form-control" id="account" name="Account" type="text" required />
                <div class="invalid-feedback">請輸入帳號</div>
            </div>
            <!-- Password input-->
            <div class="form mb-3">
                <label for="password" class="form-label fw-bold">
                    密碼:需要8~12位英文字母及數字組合，包含至少一個大寫字母及小寫字母
                </label>                
                <input class="form-control fs-4" id="password" name="Password" type="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}" required /> 
                <div class="invalid-feedback">請輸入密碼</div>
            </div>
            <!-- Password confirm input-->
            <div class="form mb-3">
                <label for="confirmPassword" class="form-label fw-bold">確認密碼</label>                
                <input class="form-control" id="confirmPassword"
                       type="password" required>
                <div class="invalid-feedback">與密碼不符！</div>
            </div>
            <!-- Email address input-->
            <div class="form mb-3">
                <label for="email" class="form-label fw-bold">電子信箱</label>
                <input class="form-control" id="email" name="Email" type="email" required />
                <div class="invalid-feedback">請輸入電子信箱</div>
                @*<div class="invalid-feedback visually-hidden">電子信箱格式錯誤</div>*@
            </div>
            <!-- Phone number input-->
            <div class="form mb-3">
                <label for="phone" class="form-label fw-bold">手機號碼</label>
                <input class="form-control" id="phone" name="Phone" type="tel" required />
                <div class="invalid-feedback">請輸入手機號碼</div>
            </div>
            <!-- Address input-->
            <div class="form-label mb-3">
                <label for="address" class="form-label fw-bold">地址</label>
                <div class="input-group">
                    <label class="input-group-text" for="selectCity">縣市</label>
                    <select class="form-select" id="selectCity" name="selectCity">
                        <option selected></option>
                        
                    </select>
                    <label class="input-group-text" for="selectDistrict">區域</label>
                    <select class="form-select" id="selectDistrict" name="selectDistrict">
                        <option selected></option>
                        
                    </select>
                    <input class="form-control" id="address" name="address" type="text" />
                </div>
            </div>
            <!-- Date of birth input-->
            <div class="form mb-5">
                <label class="form-label fw-bold">出生年月日</label>
                <div class="input-group">
                    <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" 
                        required />
                    <div class="invalid-feedback">請輸入生日</div>
                </div>
            </div>
                    
            <!-- Submit Button-->
            <div class="d-grid col-lg-8 offset-2 mt-3 mb-5">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">
                    註冊
                </button>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <style>
        #city {
            max-width: 200px
        }

        #district {
            max-width: 200px
        }
        
    </style>
}

@section Scripts{    
    <script src="sweetalert2.all.min.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            function checkPasswordMatch() {
                const password = $('#password').val();
                const confirmPassword = $('#confirmPassword').val();

                if (password !== confirmPassword) {
                    $('#confirmPassword').addClass('is-invalid');
                } else {
                    $('#confirmPassword').removeClass('is-invalid');
                }
            }

            $('#confirmPassword').blur(function () {
                checkPasswordMatch();
            });

            const selCity = document.querySelector('#selectCity');
            const selDistrict = document.querySelector('#selectDistrict');            

            LoadCities();

            async function LoadCities() {
                try {
                    const response = await fetch('/member/cities');
                    const datas = await response.json();

                    var cities = datas.map(city => {
                        return (`<option value="${city}">${city}</option>`);
                    });

                    selCity.innerHTML = cities.join("");
                    LoadDistricts();
                } catch (error) {
                    console.error(error);
                }
            }

            async function LoadDistricts() {
                try {
                    const city = selCity.options[selCity.selectedIndex].value;
                    const response = await fetch(`/member/districts?city=${city}`);
                    const datas = await response.json();

                    var districts = datas.map(district => {
                        return (`<option value="${district}">${district}</option>`);
                    });

                    selDistrict.innerHTML = districts.join("");
                    LoadRoads();
                } catch (error) {
                    console.error(error);
                }
            }

            selCity.addEventListener('change', () => {
                LoadDistricts();
            });            

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                        
                    }else{
                        
                        alert('註冊成功！');
                    }
                    form.classList.add('was-validated')
                    
                }, false)
            })
        })()

    </script>
}
