@{
    ViewData["Title"] = "會員註冊";
}

<div class="text-center mb-4">
    <h1 class="fw-bold mt-4">會員註冊</h1>
</div>
<div class="row" style="--bs-gutter-x:0;">
    <div class="col-lg-8 offset-2">
        <form id="memberRegisterForm" name="memberRegisterForm" class="needs-validation"
               method="POST" novalidate>
            <!-- MemberName input-->
            <div class="form mb-3">
                <label for="membername" class="form-label fw-bold">姓名</label>
                <input class="form-control" id="membername" type="text" required />
                <div class="invalid-feedback">請輸入姓名</div>
            </div>
            <!-- Gender input-->
            <div class="form">
                <label>性別:</label><br>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" value="male" required>
                    <label class="form-check-label">男性</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" name="gender" value="female" required>
                    <label class="form-check-label">女性</label>
                </div>
                @*<div class="invalid-feedback">
                    請選擇性別！
                </div>*@
            </div>
            <!-- NickName input-->
            <div class="form mb-3">
                <label for="nickname" class="form-label fw-bold">暱稱</label>
                <input class="form-control" id="nickname" type="text" />
            </div>
            <!-- Account input-->
            <div class="form mb-3">
                <label for="account" class="form-label fw-bold">帳號</label>
                <input class="form-control" id="account" type="text" required />
                <div class="invalid-feedback">請輸入帳號</div>
            </div>
            <!-- Password input-->
            <div class="form mb-3">
                <label for="password" class="form-label fw-bold">
                    密碼:需要8~12位英文字母及數字組合，包含至少一個大寫字母及小寫字母
                </label>
                <input class="form-control" id="password" name="password" type="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}" required />
                <i id="checkEye1" class="fas fa-eye"></i>
                <div class="invalid-feedback">請輸入密碼</div>
            </div>
            <!-- Password confirm input-->
            <div class="form mb-3">
                <label for="repassword" class="form-label fw-bold">確認密碼</label>
                <input class="form-control" id="confirmPassword" name="confirmPassword"
                       type="password" required>
                <i id="checkEye2" class="fas fa-eye"></i>
                <div class="invalid-feedback">與密碼不符！</div>
            </div>
            <!-- Email address input-->
            <div class="form mb-3">
                <label for="email" class="form-label fw-bold">電子信箱</label>
                <input class="form-control" id="email" type="email" required />
                <div class="invalid-feedback">請輸入電子信箱</div>
                <div class="invalid-feedback visually-hidden">電子信箱格式錯誤</div>
            </div>
            <!-- Phone number input-->
            <div class="form mb-3">
                <label for="phone" class="form-label fw-bold">手機號碼</label>
                <input class="form-control" id="phone" type="tel" required />
                <div class="invalid-feedback">請輸入手機號碼</div>
            </div>
            <!-- Address input-->
            <div class="form-label mb-3">
                <label for="address" class="form-label fw-bold">地址</label>
                <div class="input-group">
                    <label class="input-group-text" for="city">縣市</label>
                    <select class="form-select" id="city">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label class="input-group-text" for="district">區域</label>
                    <select class="form-select" id="district">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <input class="form-control" id="address" type="text" />
                </div>
            </div>
            <!-- Date of birth input-->
            <div class="form mb-5">
                <label class="form-label fw-bold">出生年月日</label>
                <div class="input-group" id="DateOfBirth">
                    <input type="date" id="DateOfBirthInput" class="form-control" required />
                    <div class="invalid-feedback">請輸入生日</div>
                </div>
            </div>
                    
            <!-- Submit Button-->
            <div class="d-grid col-lg-8 offset-2 mt-3 mb-5">
                <button class="btn btn-primary btn-lg" id="submitButton" type="submit">
                    註冊
                </button>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <style>
        #city {
            max-width: 200px
        }

        #district {
            max-width: 200px
        }

        /*密碼顯示切換*/
        #checkEye1 {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        #checkEye2 {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    </style>
}

@section Scripts{    
    @*<script src="sweetalert2.all.min.js"></script>*@
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            function checkPasswordMatch() {                
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();

                if (password !== confirmPassword) {
                    $('#confirmPassword').addClass('is-invalid');
                } else {
                    $('#confirmPassword').removeClass('is-invalid');
                }
            }

            $('#confirmPassword').blur(function () {
                checkPasswordMatch();
            });
            
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')
            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                        
                    }else{
                        
                        alert('註冊成功！');
                    }
                    form.classList.add('was-validated')
                    
                }, false)
            })
        })()

    </script>
}
