@model (string,string)
@{
    ViewData["Title"] = "Welcome";
    Layout = "_BackstagePage";
    string userName = Model.Item1;
    string role = Model.Item2;
}


<div class="container mt-5">
    <div class="d-flex mt-4 justify-content-center">
        <h1>Welcome</h1>
    </div>
    <div class="d-flex mt-4 justify-content-center">
        <h2 class="mt-auto">
            <span class="p-2">@(role)</span><span class="p-2">@(userName)</span>已登入
        </h2>
    </div>
</div>

