<div class=" bg-light rounded shadow p-2 mb-5" id="data">
    <table class="table">
        <thead>
        </thead>
        <tbody>
            @*<tr>
                <td class="text-nowrap">頭像</td>
                <td id="displayAvatar">
                    <figure class="p-4">
                        <img src="" id="displayImage">
                    </figure>
                </td>
            </tr>*@
            <tr>
                <td class="text-nowrap">姓名</td>
                <td id="displayName"></td>
            </tr>
            <tr>
                <td class="text-nowrap">帳號名稱</td>
                <td id="displayAccount"></td>
            </tr>
            <tr>
                <td class="text-nowrap">性別</td>
                <td id="displayGender"></td>
            </tr>
            <tr>
                <td class="text-nowrap">縣市</td>
                <td id="displayCity"></td>
            </tr>
            <tr>
                <td class="text-nowrap">區域</td>
                <td id="displayDistrict"></td>
            </tr>
            <tr>
                <td class="text-nowrap">地址</td>
                <td id="displayAddress"></td>
            </tr>
            <tr>
                <td class="text-nowrap">電話</td>
                <td id="displayPhone"></td>
            </tr>
            <tr>
                <td class="text-nowrap">Email</td>
                <td id="displayEmail"></td>
            </tr>
            <tr>
                <td class="text-nowrap">權限</td>
                <td id="displayIsActived"></td>
            </tr>
        </tbody>
    </table>

</div>