
@{
    ViewData["Title"] = "會員中心";
}

<div class="text-center mb-4">
    <h1 class="fw-bold mt-4">會員中心</h1>
</div>
<div class="row" style="--bs-gutter-x:0;">    
    <div class="col-lg-2 offset-1">
        <div class="text-center mb-3">
            <img class="img-fluid rounded-circle mb-4"
                src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
            <br>
            <div class="input-group">
                <input type="file" class="form-control" aria-label="Select Avatar">                
                <button class="btn btn-primary" type="submit">更換頭像</button>
            </div>
        </div>
        <br />
        <ul class="ms-5 fs-4" id="sidelist">
            <li><a href="會員中心.html" class="text-decoration-none">會員中心</a></li>
            <li><a href="查詢購物紀錄.html" class="text-decoration-none">查詢購物紀錄</a></li>
            <li><a href="優惠券.html" class="text-decoration-none">優惠券列表</a></li>
        </ul>
    </div>
    <div class="col-lg-6 offset-2">
        <form id="memberCenterForm">
            <!-- NickName input-->
            <div class="form mb-3">
                <label for="name" class="form-label fw-bold">暱稱</label>
                <input class="form-control" id="name" type="text"/>
            </div>
            <!-- Email address input-->
            <div class="form mb-3">
                <label for="email" class="form-label fw-bold">電子信箱</label>
                <input class="form-control" id="email" type="email" required />
                <div class="invalid-feedback">電子信箱必填</div>
                <div class="invalid-feedback">電子信箱格式錯誤</div>
            </div>
            <!-- Phone number input-->
            <div class="form mb-3">
                <label for="phone" class="form-label fw-bold">手機號碼</label>
                <input class="form-control" id="phone" type="tel" required />
                <div class="invalid-feedback">手機號碼必填</div>
            </div>
            <!-- Address input-->
            <div class="form mb-5">
                <label for="name" class="form-label fw-bold">地址</label>
                <div class="input-group">
                    <label class="input-group-text" for="city">縣市</label>
                    <select class="form-select" id="city">
                        <option selected>請選擇</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label class="input-group-text" for="district">區域</label>
                    <select class="form-select" id="district">
                        <option selected>請選擇</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <input class="form-control" id="name" type="text"/>
                </div>                
            </div>                                     
            <!-- Submit success message-->                           
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">修改成功!</div>
                </div>
            </div>
            <!-- Submit error message-->                           
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">資料有誤,請修改!</div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid col-lg-8 offset-2 my-3"><button class="btn btn-primary btn-lg"
                    id="submitButton" type="submit">儲存修改</button></div>
        </form>
    </div>
</div>

@section Styles{
    <style>
        #sidelist{
            list-style-type: none;
        }            

        #city {
            max-width: 200px
        }

        #district {
            max-width: 200px
        }
    </style>
}
