@model MSIT147thGraduationTopic.Models.ViewModels.SpecVM

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "新增規格";
}

<div class="container">
    <h1 class="title">新增規格</h1>

    <div class="bg-light rounded shadow p-5">
        <h4>輸入規格資料</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">商品名稱</label>
                        <input class="form-control" id="merchandisename" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="SpecName" class="control-label"></label>
                        <input asp-for="SpecName" class="form-control" id="inputspecname" />
                        <span asp-validation-for="SpecName" class="text-danger" id="alertspanforname"></span>
                    </div>
                    <div class="form-group" style="display:none">
                        <label asp-for="MerchandiseId" class="control-label"></label>
                        <input asp-for="MerchandiseId" class="form-control" id="showmerchandiseid" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" min="1" value="1" id="inputprice" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" min="0" value="0" id="inputamount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        <label class="col-form-label">選擇圖片</label>
                        <input class="form-control" type="file" id="selectfile" name="photo">
                        <span class="text-danger foralert" id="alertspanforimage"></span>

                        <div class="alert alert-secondary mt-2" id="containdisplay">
                            <img id="display" />
                            <button id="imageClear" class="btn btn-warning">取消圖片</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiscountPercentage" class="control-label"></label>
                        <input asp-for="DiscountPercentage" class="form-control" min="1" max="100" value="100" id="inputdiscount" />
                        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DisplayOrder" class="control-label"></label>
                        <input asp-for="DisplayOrder" class="form-control" min="1" value="1" id="inputorder" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="OnShelf" /> @Html.DisplayNameFor(model => model.OnShelf)
                        </label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="新增" class="btn btn-primary" id="submit" />
                        @Html.ActionLink("取消", "Index", "Specs", new { merchandiseid = Model.MerchandiseId}, new { @class = "btn btn-secondary" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const merchandiseid = $("#showmerchandiseid").val();
        console.log(merchandiseid);
        const merchandisename = document.querySelector("#merchandisename");
        merchandisename.addEventListener("load", () => {

            const xhr = new XMLHttpRequest();
            xhr.open("GET", `/ApiSpec/ShowMerchandise/${merchandiseid}`);
            xhr.send();

            xhr.addEventListener("load", () => {
                const datas = JSON.parse(xhr.responseText);
                console.log(datas);
                var merchandise = datas[0];
                console.log(merchandise);
                merchandisename.innerHTML = merchandise.MerchandiseName;
            })
        })
    </script>
}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>
}
