@model MSIT147thGraduationTopic.EFModels.Merchandise

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "新增商品";
}

<h1 class="container">新增商品</h1>

<div class="bg-light rounded shadow p-5">
    <h4>輸入商品資料</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MerchandiseName" class="control-label"></label>
                    <input asp-for="MerchandiseName" class="form-control" />
                    <span asp-validation-for="MerchandiseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrandId" class="control-label"></label>
                    <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                    <select class="form-select conditionname" name="searchCondition" id="inputbrandid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select class="form-select conditionname" name="CategoryId" id="inputcategoryid"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Display" /> @Html.DisplayNameFor(model => model.Display)
                    </label>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="新增" class="btn btn-primary" />
                    @Html.ActionLink("取消", "Index", "Merchandises", null, new { @class = "btn btn-secondary" })
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        const brand = document.querySelector("#inputbrandid");
        const category = document.querySelector("#inputcategoryid");



    </script>
}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>
}