@{
    ViewData["Title"] = "Sales";
    Layout = "_BackstagePage";
}



<div class="container mt-5">
    <div class="row">

        <div class="px-3 col-lg-8">


            <div class="p-4 bg-white rounded shadow ">
                <h2 class="mt-2">商品銷售表</h2>
                <div class="mt-3 ms-2">
                    <button class="btn btn-sm btn-outline-primary" id="btnAccordingToCategory">類別</button>
                    <button class="btn btn-sm btn-outline-primary" id="btnAccordingToPet">動物</button>
                    <button class="btn btn-sm btn-outline-primary">??</button>
                </div>
                <div class="p-5" style="height:600px">
                    <canvas id="mainChart" width="500" height="300"></canvas>
                </div>
            </div>

        </div>

        <div class="px-3 col-lg-4">
            <div class="p-4 bg-white rounded shadow ">


                <div class="p-2 mt-2">
                    <canvas id="dougnutChart" width="300" height="300"></canvas>
                </div>

                <div class="p-2">
                    <label for="selectDaysBefore" class="fs-4 mb-2">時間:</label>
                    <select class="form-select mb-3" id="selectDaysBefore">
                        <option value="7300" selected>不限</option>
                        <option value="7">七天內</option>
                        <option value="30">一個月內</option>
                        <option value="90">三個月內</option>
                    </select>
                    <label for="selectMeasureUnit" class="fs-4 mb-2">統計單位:</label>
                    <select class="form-select mb-3" id="selectMeasureUnit">
                        <option value="quantity" selected>購買數</option>
                        <option value="profit">銷售額</option>
                    </select>
                </div>



                <!--To be deleted-->
                <div class="m-3 p-2 border border-dark">
                    <h2 class="mb-4">暫時</h2>

                    <div class="mt-3">
                        <button class="btn btn-primary mb-3" id="btnDisplayPurchasedNumber">購買數</button>

                        <button class="btn btn-primary mb-3" id="btnDisplaySales">銷售額</button>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary mb-3" id="btnWithinOneMonth">一個月內</button>

                        <button class="btn btn-primary mb-3" id="btnWithinThreeMonths">三個月內</button>

                        <button class="btn btn-primary mb-3" id="btnAllTime">全部</button>
                    </div>
                </div>


            </div>

        </div>

    </div>



</div>









@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let measurement = 'category' // animal
        let classification = 'quantity' // profit
        let daysBefore = '3650'


        const ctxMain = document.getElementById('mainChart').getContext('2d');
        const ctxDoughnut = document.getElementById('dougnutChart').getContext('2d');
        const mainChart = new Chart(ctxMain, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        })
        const doughnutChart = new Chart(ctxDoughnut, {
            type: 'doughnut',
            data: {
                labels: [
                    '品牌1',
                    '品牌2',
                    '品牌3'
                ],
                datasets: [{
                    label: 'My First Dataset',
                    data: [300, 50, 100],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            }
        })

        $('#btnAccordingToCategory').click(e => {
            measurement = 'category'
            updateChart()
        })
        $('#btnAccordingToPet').click(e => {
            measurement = 'animal'
            updateChart()
        })
        $('#btnDisplayPurchasedNumber').click(e => {
            classification = 'quantity'
            updateChart()
        })
        $('#btnDisplaySales').click(e => {
            classification = 'profit'
            updateChart()
        })
        $('#btnWithinOneMonth').click(e => {
            daysBefore = '30'
            updateChart()
        })
        $('#btnWithinThreeMonths').click(e => {
            daysBefore = '90'
            updateChart()
        })
        $('#btnAllTime').click(e => {
            daysBefore = '3650'
            updateChart()
        })

        //select change
        $('#selectDaysBefore').change(e => {
            const val = $(e.currentTarget).val()
            console.log(val)
        })
        $('#selectMeasureUnit').change(e => {
            const val = $(e.currentTarget).val()
            console.log(val)
        })

        //更新sales chart
        updateChart()
        async function updateChart() {
            const data = await getSalesData()
            mainChart.data.labels = data.labels
            mainChart.data.datasets[0].data = data.data
            mainChart.data.datasets[0].label = data.measurementUnit
            mainChart.update()
        }

        //取得data
        async function getSalesData() {
            const response = await fetch(`${ROOT}/api/apistatistic/salechart?` +
                `measurement=${measurement}&classification=${classification}&daysBefore=${daysBefore}`)
            const data = await response.json()
            console.log(data)
            return data
        }



    </script>
}


