@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";
}
<header class="container px-5 mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Content("~/CouponsBackstageSettings/Index")">優惠券管理系統</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增優惠券</li>
        </ol>
    </nav>
</header>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">新增優惠券</h1>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="container px-5 my-5">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            優惠券名稱<input type="text" class="form-control" placeholder="請輸入優惠券名稱">
                        </div>
                        <div class="col-8">
                            適用對象<select class="form-select form-control" placeholder="請選擇適用對象">
                                <option></option>
                            </select>
                        </div>
                        <br>
                        <div class="col-8">
                            開始日期<input type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <div class="col-8">
                            結束日期<input type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <ul class="nav nav-pills mb-3 col-8" id="CouponCondition" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="btnDiscount" data-bs-toggle="pill"
                                        data-bs-target="#Discount" type="button" role="tab" aria-controls="Discount"
                                        aria-selected="true">
                                    打折
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="btnRebate" data-bs-toggle="pill"
                                        data-bs-target="#Rebate" type="button" role="tab" aria-controls="Rebate"
                                        aria-selected="false">
                                    滿額送
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content col-8" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="Discount" role="tabpanel" aria-labelledby="btnDiscount">
                                <div class="form-group">
                                    <label for="txtDiscountPercentage">折扣百分比</label>
                                    <input type="number" class="form-control" id="txtDiscountPercentage" placeholder="請輸入折扣百分比">
                                </div>
                            </div>
                            <div class="tab-pane fade " id="Rebate" role="tabpanel" aria-labelledby="btnRebate">
                                <div class="form-group">
                                    <label for="txtConsumptionAmount">消費額度</label>
                                    <input type="number" class="form-control" id="txtConsumptionAmount" placeholder="請輸入消費額度">
                                </div>
                                <div class="form-group">
                                    <label for="txtGiftDiscount">折扣</label>
                                    <input type="number" class="form-control" id="txtGiftDiscount" placeholder="請輸入折扣">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center px-5 my-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="btnCreate">新增</button>
                            <button type="button" class="btn btn-primary" id="btnBack">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <!--資料表-->
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row">
                    <div class="col">
                        <span class="text-muted">目前資料筆數:0/0</span>
                    </div>
                </div>
            </div>
            <div>
            

            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

@section Styles{
    <style>
    </style>
}

@section Scripts{
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            // tab點擊事件
            $('.nav-link').on('click', function () {
                // 從 'data-bs-target' 屬性獲取目標選項卡的 id
                const targettabid = $(this).attr('data-bs-target');

                //屏蔽其他標籤
                $('.tab-pane').removeclass('show active');

                // 將“show active”顯示到選擇的標籤頁面
                $(targettabid).addclass('show active');
            });
        });
    </script>


    <script>
        $('#btnBack').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = @Url.Content("~/CouponsBackstageSettings/Index");
                }
            })
        })
    </script>

    <script>
        $(document).ready(function () {
            // 將margin-right屬性設置為20px
            $('#btnDiscount').css('margin-right', '20px');
            $('#btnCreate').css('margin-right','20px');
        });
    </script>
}
