@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";
}

<header class="container px-5 mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a id="hrefHomePage">優惠券管理系統</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">打折優惠券修改頁面</li>
        </ol>
    </nav>
</header>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">打折優惠券修改頁面</h1>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="container px-5 my-5">
                    <div class="row justify-content-center">
                        <div class="col-8 mb-3">
                            優惠券名稱<input type="text" class="form-control" placeholder="請輸入優惠券名稱">
                        </div>
                        <div class="col-8 mb-3">
                            適用對象<select class="form-select form-control" placeholder="請選擇適用對象">
                                <option></option>
                            </select>
                        </div>
                        <br>
                        <div class="col-8 mb-3">
                            開始日期<input type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <div class="col-8 mb-3">
                            結束日期<input type="date" class="form-control" placeholder="請輸入使用期限">
                        </div>
                        <div class="col-8 mb-3">
                            折扣百分比<input type="number" class="form-control" placeholder="請輸入折扣百分比">
                        </div>
                    </div>
                    <div class="row justify-content-center px-5 my-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="btnCreate">新增</button>
                            <button type="button" class="btn btn-primary" id="btnBack">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <!--資料表-->
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-5 my-5">
                <div class="row">
                    <div class="col">
                        <span class="text-muted">目前資料筆數:0/0</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

@section Styles{
    <style>
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            // tab點擊事件
            $('.nav-link').on('click', function () {
                // 從 'data-bs-target' 屬性獲取目標選項卡的 id
                const targettabid = $(this).attr('data-bs-target');

                //屏蔽其他標籤
                $('.tab-pane').removeclass('show active');

                // 將“show active”顯示到選擇的標籤頁面
                $(targettabid).addclass('show active');
            });
        });

        $('#btnBack').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })
        $('#hrefHomePage').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })

        $(document).ready(function () {
            // 將margin-right屬性設置為20px
            $('#btnDiscount').css('margin-right', '20px');
            $('#btnCreate').css('margin-right', '20px');
        });
    </script>

}
